<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="container mt-5" *ngIf="auth.user$ | async as user">
        <div class="row align-items-center profile-header mb-5 text-center text-md-center">
          <div class="col-md-12">
            <img [src]="user.picture" class="rounded-circle img-fluid profile-picture mb-3 mb-md-0" />
          </div>

        </div>
      </div>
    </div>


    <div class="card-body">


      <form (ngSubmit)="validSubmit()" [formGroup]="form" class="w-100">
        <div class="row">
          <div class="col-6"> <!-- Use 'col-6' to make the input take up half the width -->
            <mat-form-field class="form-group w-100"> <!-- Use 'w-100' to make the mat-form-field fill its container -->
              <mat-label>First Name</mat-label>
              <input class="p-2" matInput id="firstname" placeholder="Moussa" formControlName="firstname" required>
            </mat-form-field>
          </div>
          <div class="col-6"> <!-- Use 'col-6' to make the input take up half the width -->
            <mat-form-field class="form-group w-100"> <!-- Use 'w-100' to make the mat-form-field fill its container -->
              <mat-label>Last Name</mat-label>
              <input class="p-2" matInput id="lastname" placeholder="Tawakol" formControlName="lastname" required>
            </mat-form-field>
          </div>
          <div class="col-6"> <!-- Use 'col-6' to make the input take up half the width -->
            <mat-form-field class="form-group w-100"> <!-- Use 'w-100' to make the mat-form-field fill its container -->
              <mat-label>Phone</mat-label>
              <input class="p-2" matInput placeholder="613-298-7890" id="phone" formControlName="phone" required>
            </mat-form-field>
          </div>
          <div class="col-6"> <!-- Use 'col-6' to make the input take up half the width -->
            <mat-form-field class="form-group w-100"> <!-- Use 'w-100' to make the mat-form-field fill its container -->
              <mat-label>Email</mat-label>
              <input class="p-2" matInput id="email" formControlName="email" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-content-end">
          <button mat-button color="primary" type="submit">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>