    <div class="row">
      <div class="col-md-8 offset-md-2 mt-2">
        <h1>{{project.name}}</h1>
        <hr>
        <div class="ml-auto d-flex mb-3">
          <button class="btn btn-primary mr-2 ml-1" [routerLink]="['/project/edit', project.id]">Edit</button>          
          <button type="button" class="btn btn-danger" (click) = "returnToParent()">Back</button>      
        </div>
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Project Details</h2>
            <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
            <p class="card-text"><strong>Status:</strong> {{ project.status }}</p>
            <p class="card-text"><strong>Owner:</strong> {{ project.owner }}</p>
          </div>
        </div>
  
        <div class="card mt-3">
          <div class="card-body">
            <h2 class="card-title">Assignees</h2>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let assignee of project.assignees">{{ assignee }}</li>
            </ul>
          </div>
        </div>
  
        <div class="card mt-3">
          <div class="card-body">
            
            <h2 class="card-title">Tasks</h2>
            <ul class="list-group">
              <div  *ngFor="let task of project.tasks">
                <li class="list-group-item" (click) = "taskSideNav(task)">
                  <h3>{{ task.name }}</h3>
                  <p class = "pl-4">STATUS: {{ task.status }}</p>
                </li>

              </div>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="showSideBar">
    <app-task [passedTask] = "selectedTask" (close)="onCloseTask()"></app-task>
  </div>